{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="{% static 'css/prof/edit.css' %}">
  <title>Edit Profile - Instagram</title>
</head>

<body>


  <div id="wrapper">
    <div class="container">
      <div class="phone-app-ddemo"></div>
      <div class="form-data">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="logo">
            <h3>Edit Profile</h3>
          </div>
          <div class="form-group">
            {{ form.image.label }}
            {{ form.image }}
          </div>
          <div class="form-group">
            {{ form.first_name.label }}
            {{ form.first_name }}
          </div>
          <div class="form-group">
            {{ form.last_name.label }}
            {{ form.last_name }}
          </div>
          <div class="form-group">
            {{ form.bio.label }}
            {{ form.bio }}
          </div>
          <div class="form-group">
            {{ form.location.label }}
            {{ form.location }}
          </div>
          <div class="form-group">
            {{ form.url.label }}
            {{ form.url }}
          </div>
          <button class="form-btn" type="submit">Update Profile</button>
        </form>
      </div>
    </div>
  </div>

</body>

</html>
{% endblock content %}
