{% extends 'base.html' %}
{% load static %}

{% block content %}
    <script src="{% static 'like.js' %}"></script>
    <link rel="stylesheet" href="{% static 'dash.css' %}">
    <main class="homepage">
        <div class="container">
            <div class="profile">
                <button class="profile-picture">
                    <img src="{{ request.user.profile.image.url }}" alt="Profile Picture">
                </button>
                <div class="profile-info">
                    <span class="username">@{{ request.user.username }}</span>
                </div>
            </div>
            <div class="post-container">
                {% for post in poste %}
                <div class="post">
                    {% if post.user.profile.image %}
                        <a href="{{ post.user.profile.image.url }}">
                            <img src="{{ post.user.profile.image.url }}" alt="User Picture" class="user-picture">
                        </a>
                    {% endif %}
                    <div class="post-info">
                        <div class="post-header">
                            <a href="{{ post.user.username }}" class="username">{{ post.user.username }}</a>
                        </div>
                        <a href="{% url 'post' post.id %}">
                            <img src="{{ post.picture.url }}" alt="Post Content" class="post-image">
                        </a>
                        <div class="post-footer">
                            <div class="post-actions">
                                <a href="#" class="like-link" data-post-id="{{ post.id }}"><i class="bi bi-balloon-heart-fill fa-xl"></i>Like</a>
                                <a href="{% url 'profile' post.user %}" class="username">@{{ post.user.username }}</a>
                                {{ post.caption }}
                                {% for tag in post.tags.all %} #{{ tag }} {% endfor %}
                                {{ post.created }}
                            </div>
                            <div class="post-likes">
                                <h5 id="post-likes-{{ post.id }}">{{ post.likes }} likes</h5>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="suggestions">
            <h2 class="suggestions-title">Suggestions for You</h2>
            <button class="suggestions-button">See All</button>
            {% for user in all_users %}
                {% if request.user.username != user.username %}
                    <div class="suggested-profile">
                        <a href="{% url 'profile' user %}">
                            <img src="{{ user.profile.image.url }}" alt="User Picture" class="suggested-picture">
                        </a>
                        <div class="suggested-info">
                            {% if user.profile.first_name %}
                                <a href="{% url 'profile' user %}" class="username">{{ user.profile.first_name|title }} {{ user.profile.last_name|title }}</a>
                            {% else %}
                                <a href="{% url 'profile' user %}" class="username">{{ user.username }}</a>
                            {% endif %}
                            <span class="username">@{{ user.username }}</span>
                            {% if follow_status == True %}
                                <button class="btn btn-primary"><a href="{% url 'follow' user 0 %}" class="follow-link">Follow</a></button>
                            {% else %}
                            <button class="btn btn-primary"><a href="{% url 'follow' user 1 %}" class="follow-link">Follow</a></button>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var likeLinks = document.getElementsByClassName('like-link');

            Array.from(likeLinks).forEach(function (likeLink) {
                likeLink.addEventListener('click', function (event) {
                    event.preventDefault();
                    var postID = this.getAttribute('data-post-id');
                    var postLikes = document.getElementById('post-likes-' + postID);

                    // Send a POST request to the like_view URL
                    fetch('/like/' + postID + '/')
                        .then(function (response) {
                            return response.json();
                        })
                        .then(function (data) {
                            // Update the like count
                            postLikes.textContent = data.likes + ' likes';
                        })
                        .catch(function (error) {
                            console.log('Error:', error);
                        });
                });
            });
        });
    </script>
{% endblock %}
