{% with comments.count as total_comments %}
<h2>
  {{ total_comments }} comment{{ total_comments|pluralize }}
</h2>
{% endwith %}

<div class="comments">
    {% for comment in comments %}
    <div class="comment">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }}
            {{ comment.created}}
        </p>
        <p>{{ comment.body|linebreaks }}</p>
    </div>
    {% empty %}
    <p class="no-comments">There are no comments yet.</p>
    {% endfor %}
</div>

<div class="comment-form">
    <h3>Leave a Comment</h3>
    <form action="{% url 'blog:add_comment_to_post' post.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- <div class="form-group">
            <label for="{{ comment_form.name.id_for_label }}">Your Name:</label> <br>
            <input type="text" id="{{ comment_form.name.id_for_label }}" name="{{ comment_form.name.html_name }}" style="max-width: 20vw; " required> <br>
        </div> <br>
        <div class="form-group">
            <label for="{{ comment_form.email.id_for_label }}">Your Email:</label> <br>
            <input type="email" id="{{ comment_form.email.id_for_label }}" name="{{ comment_form.email.html_name }}" style="max-width: 40vw; "  required> <br>
        </div> <br>
        <div class="form-group">
            <label for="{{ comment_form.comment_text.id_for_label }}">Your Comment:</label> <br>
            <textarea id="{{ comment_form.comment_text.id_for_label }}" name="{{ comment_form.comment_text.html_name }}" rows="4" required></textarea> <br>
        </div> <br> -->
        <button type="submit" style="bottom: 0; width: 40vw; margin-left: 10vw;">Submit</button>
    </form>
</div>
</div>
