{% extends 'base.html' %}
{% block title %}login{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{%static 'css/login.css' %}"> 
<div class="container">
    <h2>Login</h2>
        <form action="" method="post" class="form-container">
            {% csrf_token %}
            {{login}}
            <button type="submit">Login</button>
            
        </form>
        <hr>
            <p>Don't have an account? <a href="{% url 'sign-up' %}">Sign Up</a> </p>
</div>
{% endblock %}

