{% extends 'base.html' %}
{% block title %}signup{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{%static 'css/signup.css' %}"> 
 <div class="container">
  <form action="" method="Post" class="form-container">
    {% csrf_token %}
    {% for x in form %}
     <p>{{x.label}} :<br> {{x}}</p> 
      <div>
        {% for err in x.errors %}
           <p class="error">{{err}}</p>
           {% endfor %}
      </div>
      {% endfor %}
      <button type="submit" >register</button>
      <p> Already have an account ? <a href="{% url 'sign-in' %}">login</a> </p>
 </form>
 </div>
  
{% endblock %}
