/* Reset styles */
body,
html {
  margin: 0;
  padding: 0;
}

/* Container styles */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Profile section styles */
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-details {
  margin-left: 20px;
}

.profile-user-name {
  font-size: 24px;
  font-weight: bold;
}

.profile-label-text {
  font-size: 14px;
  font-weight: bolder;
  color: #141414;
  
}

/* Gallery styles */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.gallery-item {
  position: relative;
  cursor: pointer;
}

.gallery-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.gallery-item-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery-item-info ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery-item-info ul li {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.gallery-item-info ul li i {
  margin-right: 5px;
}

/* Profile stats styles */
.profile-stats {
  margin-bottom: 20px;
}

.profile-stats ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profile-stats ul li {
  margin-right: 30px;
}

.profile-stat-count {
  font-weight: bold;
}

/* Button styles */
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #3897f0;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #2977e6;
}

.btns {
  margin-right: 10px;
}
