*{
    text-decoration: none;
}
:root{
    --blue:#1097d6f5;
    --nav-white:#f5f5f5;
    --display:flex;
    --blur:20px;
    --red:#e04444;
    --bs-hover:#2a2a3b;
    --bs-active:rgb(223, 149, 12);
    --bs-family:Tahoma,Gill sans;
    --green:rgba(61, 180, 50, 0.966);
    --light-white:rgba(223, 228, 220, 0.795);
}
/* form{
    min-height:200px ;
    min-width: 300px;
    margin:0 auto;
    padding: 1rem 4%;
    background-color: var(--light-white);
    justify-items: center;
    
}
label{
    font-size: 1.2em;
    font-weight: 400;
    padding-bottom: 10px;
}
input[type='text'],input[ type='password'],input[type='email']{
    padding:.3rem 4% ;
    width: fit-content;
    border: 1px solid #05050e;
    border-radius: 10px;
    visibility: visible;
}
.btn-primary{
    margin: 1rem 0 .5rem 1.4rem;
    min-height:4vh;
    width:60%;
    background-color:var(--green);
    color: #fffffff1;
    border: 1px none black;
    font-family:'Times New Roman',;
    font-size: 1.0rem;
    text-transform: uppercase;
    border-radius: 10px;
}
 form a{
    color:#2559ca !important;
}
form a:hover{
    color: var(--red);
}
li{
    list-style: none;
}
header.container{
    position: relative;
    display:flex;
    align-items: center;
    width: 20%;
    background-color: #a1a1d8;
}

.more-more li:last-child{
    margin-bottom: 0px;
}  */
